h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #909740;
}
p{
    margin-top: -10px;
    margin-bottom: 25px;
}
#comecar{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #909740;
    padding: 5px 10px;
    border-radius: 200px;
    font-weight: 700;
}
button:hover{
    cursor: pointer;
}
#reiniciar{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #909740;
    padding: 10px 5px 0px 5px;
    margin: 10px;
    border-radius: 200px;
    font-weight: 700;
}
#fim{
    width: 350px;
    height: 230px;
    background-color: rgb(219, 117, 117);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}

.container{
    width: 950px;
    height: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: #909740;
}
#pinto{ 
    width: 100px;
    height: 100px;
    position: absolute;
    left: 7px;
    bottom: 0px;
    background-image: url(res/pinto.png);
}
#inicio{
    width: 350px;
    height: 230px;
    background-color: rgb(219, 117, 117);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}
#serpente{
    width: 100px;
    height: 70px;
    position: absolute;
    left: 1000px;
    bottom: 1px;
    background-image: url(res/serpente.png);
}
#gaviao{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 950px;
    bottom: 110px;
    background-image: url(res/gaviao.png);
}

/*animações*/
.anima1{
    background-image: url(res/pinto.png);
    animation:play .4s steps(4) infinite;
    /*rodar em outros navegadores*/
    -webkit-animation: play .4s steps(4) infinite;
    -moz-animation: play .4s steps(4) infinite;
    -ms-animation: play .4s steps(4) infinite;
    -o-animation: play .4s steps(4) infinite;

}
.anima2{
    background-image: url(res/serpente.png);
    animation:play2 .4s steps(3) infinite;
    /*rodar em outros navegadores*/
    -webkit-animation: play2 .4s steps(3) infinite;
    -moz-animation: play2 .4s steps(3) infinite;
    -ms-animation: play2 .4s steps(3) infinite;
    -o-animation: play2 .4s steps(3) infinite;
}
.anima3{
    background-image: url(res/gaviao.png);
    animation:play3 .4s steps(3) infinite;
    /*rodar em outros navegadores*/
    -webkit-animation: play3 .4s steps(3) infinite;
    -moz-animation: play3 .4s steps(3) infinite;
    -ms-animation: play3 .4s steps(3) infinite;
    -o-animation: play3 .4s steps(3) infinite;
}
@keyframes play {
    from{background-position: 430px;}
    to{background-position: 0px;}
}
@keyframes play2 {
    from{background-position: 0px;}
    to{background-position: 320px;}
}
@keyframes play3 {
    from{background-position: 0px;}
    to{background-position: 320px;}
}